<!DOCTYPE html>
<html class="has-navbar-fixed-top">

  <body>
    <section class="hero is-black is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              Coming Soon
            </h1>
            <h2 class="subtitle">
              things and stuff
            </h2>
          </div>
        </div>
      </div>

    </section>
  </body>
</html>