<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your purchase, <%= @user.first_name %>!</h1>
    <p>We'll get it sent out ASAP.</p>
  </body>
</html>
