<div class="container">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Hero title
        </h1>
        <h2 class="subtitle">
          Hero subtitle
        </h2>
      </div>
    </div>
  </section>

  <%# product cards %>
  <section>
    <div class="columns is-mobile is-multiline is-centered">
    <% @products.each do |product| %>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%=  link_to product.name, product %></p>
                <p class="subtitle is-6"><%= product.price %></p>
              </div>
            </div>

            <div class="content">
              <%= product.description %>
              <br>
              <a><%= product.user.username %></a>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>